<div>
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title"><%= @report.title %></h5>
    <p class="card-text"><%= @report.description %>.</p>
   <%= link_to 'Edit', edit_report_path(@report), class:"btn btn-warning" %>
    <%= link_to 'Back', reports_path, class:"btn btn-info" %>
  </div>
</div>
</div>