<p>
  <strong>title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>description:</strong>
  <%= @report.description %>
</p>
<%= link_to 'Edit', edit_place_path(@report) %> |
<%= link_to 'Back', places_path %>